.mainBtn {
  padding: 12px 33px 15px 31px;
  border-radius: 5px;
  background-color: #ec1c24;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mainBtn span {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

.mainBtn img {
  transform: translateX(15px);
}
